#card-footer-style{
    background-color: white;
}
.nav-colors{
    background-color: #FFFBF0;
}
.card-borderless{
    border: 0;
}
.button-size {
    height: 30px;
}
.button-size img{
    height: 25px;
}
.touch-section{
    height: 355px;
}